
<div class="intro">
  <p>Nebular.fm uses your Last.fm recommendations to generate a streaming SoundCloud playlist.</p>
  <span><a class="pure-button" id="login-button" href="/login">Log In</a> <a class="pure-button" id='signup-button' href="/signup">Sign Up</a></span>
</div>

<div class="form signup">
  <h2>Sign Up</h2>
  <form id="signup-form" action="/signup" method="post" class="pure-form pure-form-stacked">
    <label for="signup[email]">Email</label>
    <input type="email" name="signup[email]" placeholder="you@email.com" required>
    <label for="signup[password]">Password</label>
    <input type="password" name="signup[password]" placeholder="8 or more characters" required>
    <label for="signup[password_confirmation]">Confirm password</label>
    <input type="password" name="signup[password_confirmation]" required>
    <input class="pure-button button-purple" type="submit" value="Sign Up">
  </form>
</div>
<div class="form login">
  <form id="login-form" action="/login" method="post" class="pure-form pure-form-stacked">
    <fieldset>
    <h2>Log In</h2>

    <label for="email">Email</label>
    <input type="text" name="email" placeholder="Email" required>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Password" required>
    <input class="pure-button button-purple" type="submit" value="Login">
    </fieldset>
  </form>
</div>