<div class="container">
  <% if current_user %>
    <a href="/logout">Logout</a><br>

    <% if current_user.lastfm_key.nil? %>
      <a href="/login/lastfm">Connect to Last.fm</a>
    <% else %>
      <p>Logged in to Last.fm</p>
    <% end %>

    <% if current_user.soundcloud_key.nil? %>
      <a href="/login/soundcloud">Connect to Soundcloud</a>
    <% else %>
      <p>Logged in to Soundcloud</p>
    <% end %>

  <form action="/playlist/generate" method='post'>
    <input type="submit" value="New Playlist">
  </form>

  <% else %>
    <a href="/login">Login</a><a href="/signup">Sign Up</a>
  <% end %>
</div>
