<div class="wrapper">
  <div class="session">
    <% if current_user %>
      <%= erb :'partials/_step2' %>
    <% else %>
      <%= erb :'partials/_login' %>
    <% end %>

    <div class="wait">
      <h3>Generating...</h3>
      <i class="fa fa-2x fa-circle-o-notch fa-spin"></i>
    </div>
  </div>



  <div class="player-content">
    <div class="tracklist-menu">
      <ul class="tracklist"></ul>
    </div>

    <div class="container">
      <div class="player"></div>

      <div class="player-info">
        <div class="controls">
          <a href="#" id="prev" class="pure-button button-purple"><i class="fa fa-lgs fa-step-backward"></i></a>
          <a href="#" id="playPause" class="pure-button button-purple"><i class="fa fa-lgs fa-play"></i></a>
          <a href="#" id="next" class="pure-button button-purple"><i class="fa fa-lgs fa-step-forward"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>