<div class="container">
  <form action="/signup" method="post">
    <input type="text" name="signup[email]" placeholder="Email">
    <input type="password" name="signup[password]" placeholder="Password">
    <input type="password" name="signup[password_confirmation]" placeholder="Confirm Password">
    <input type="submit" value="Sign Up">
  </form>
</div>